
<div class="container mt-3">
    <mat-toolbar  style="background-color: #4cff75;">
        <span> Change your password </span> 
       
      </mat-toolbar>
    
    <form [formGroup]="dataPassword" (submit)="changePassword()">
        <mat-card class="text-center mt-3" fxLayoutAlign="center center"> 
           
        <div>
            <mat-form-field  appearance="fill">    
                <mat-label>New password</mat-label>
                <input matInput  formControlName="newPassword" placeholder="newPassword" type="password" >
               
            </mat-form-field>
        </div>
        
        <div class="mx-auto">
            <button mat-raised-button color="primary">Enter</button>
        </div>
    </mat-card>
    </form>
    
    
</div>

